beautifulsoup4
boto3
channels==4.2.2
daphne
Django==5.2
django-cors-headers
django-countries
django-crispy-forms
django-csp
django-hosts
django-humanize
django-import-export
django-jazzmin
django-phonenumber-field
django-ratelimit
django-redis
djangorestframework
django-storages
forex-python
gunicorn
itsdangerous
openpyxl
pandas
phonenumbers
pillow
playwright
psycopg2
python-barcode
python-decouple
qrcode
redis
requests-oauthlib
requests
shortuuid
twilio
user-agents
whitenoise

